#welcome-section {
    height: 100vh;
}

@media (max-width: 500px) {
   h1 {
       color: darkorchid;
   } 
}


#navbar{
    width:100%;
    background-color:#5A859E;
    overflow:hidden;
    position:fixed;
    float:right;
    font-size: 20px;
    text-align:center;
  }

